.edit-product {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 500px;
  z-index: 2;
  box-shadow: 0 -2px 3px 0 transparentize(#000000, .6);

  > section {
    display: flex;
  }

  > .image {
    height: 200px;

    > img {
      width: 50%;
      object-fit: cover;
      padding: 10px 5px 10px 10px;
    }

    input[type=file] {
      cursor: pointer;
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    > .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 10px 10px 5px;

      .btn {
        background: #cecece url("../../assets/picture.svg") no-repeat center/100px;
        color: #acacac;
        height: 100%;
        width: 100%;
        position: relative;

        > p {
          position: absolute;
          bottom: 10px;
          text-align: center;
          width: 100%;

          > span {
            display: block;
            font-size: .9em;

            &.add {
              border: 1px solid transparentize(gray, .5);
              padding: .3em .6em;
              width: 10px;
              margin: 0 auto;
            }

            &.title {
              font-size: 1.1rem;
              color: gray;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .image-tile-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 10px 10px 10px 5px;

      > .image-tile {
        width: 33%;
        height: 50px;
        padding: 2px;
        box-sizing: border-box;
        object-fit: cover;

        &-upload {
          position: relative;
          overflow: hidden;
          display: inline-block;
          height: 50px;
          width: 33%;
          padding: 2px;
          box-sizing: border-box;

          > .btn {
            background: #cecece url("../../assets/picture.svg") no-repeat center/contain;
            color: #acacac;
            height: 100%;
            width: 100%;
            position: relative;
            box-sizing: border-box;

            > .add {
              border: 2px solid transparentize(gray, .7);
              padding: .5em 1em;
              width: 10px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  > .properties {
    padding: 1em;

    > .fixed, > .variation {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
    }

    > .fixed {
      padding: 10px;

      > .flex {
        display: flex;
        align-items: center;
        border-bottom: 1px solid transparentize(#b4b4b4, .8);
        margin-bottom: 10px;

        > p {
          padding: 0 1em 2px 0;
          color: grey;
        }

        > input {
          border: none;
          margin: 0;
        }
      }
    }

    > .variation {
      align-items: flex-start;
      padding: 10px;

      &.zeroth {
        justify-content: center;
        align-items: center;
      }

      > .zeroth {
        text-align: center;

        > button {
          padding: .5em 1em;
          color: #b4b4b4;
          margin-bottom: 10px;
          border: 1px solid transparentize(#b4b4b4, .5);

          &:active, &:focus {
            outline: 0;
          }
        }

        > p {
          color: #b4b4b4;
        }
      }

      .options {
        display: flex;
        flex-direction: column;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }

      button {
        color: #b4b4b4;
        font-size: .8em;
        text-align: left;

        &.big {
          font-size: 1.1em;
          margin-top: 1em;
        }

        > .add-button {
          display: inline-block;
          border: 1px solid transparentize(#b4b4b4, .5);
          padding: .3em .6em;
          cursor: pointer;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  label {
    font-size: .8em;
    color: #b4b4b4;
    margin-bottom: 2px;
    text-transform: capitalize;
  }

  input[type=text], select {
    border: none;
    border-bottom: 1px solid transparentize(#b4b4b4, .8);
    padding: 4px 0;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: grey;
    width: 100%;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: #efefef;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;

    > div {
      flex-basis: calc(100% - 50px);
      padding: 0 10px;

      > label {
        display: block;
      }

      > input {
        width: 100%;
      }
    }

    > .save {
      width: 50px;
      height: 55px;
      background: #6ddbdb url("../../assets/arrow-right.svg") no-repeat center/30px;
    }
  }
}
